{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <div class="publication-title"><i class="fas fa-bookmark"></i> {{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>

    {% if publication.link %}
      {% if publication.website %}
        <div class="publication-conference">{{ publication.conference }}<a href="{{ publication.link}}" style="color:blue" target="_blank"> [link]</a><a href="{{ publication.website}}" style="color:red" target="_blank"> [website]</a></div>
      {% else %}
        <div class="publication-conference">{{ publication.conference }}<a href="{{ publication.link}}" style="color:blue" target="_blank"> [link]</a></div>
      {% endif %}
    {% else %}
    <div class="publication-conference">{{ publication.conference }}</div>
    {% endif %}
 
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
