{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  <hr>
  <div class="contact-container container-block">
    <ul class="list-unstyled contact-list">
 
   <!--    <h5><li class="projects"><i class="fas fa-angle-right"></i>
        <a href="projects_main.html">Projects</a>
      </li></h5> -->
      <h5>
        <li class="profile"><i class="fas fa-angle-right"></i>
        <a href="index.html">Profile</a>
        </li>
      </h5>

      <h5>
        <li class="publications"><i class="fas fa-angle-right"></i>
        <a href="publications_main.html">Publications</a>
        </li>
      </h5>

      <h5>
        <li class="cv"><i class="fas fa-angle-right"></i>
        <a href="assets/data/sslim_cv.pdf" target="_blank">CV (pdf)</a>
        </li>
      </h5>

    </ul>
  </div>

</div><!--//sidebar-wrapper-->
